@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}
:root{
    --text-color:#f5f5f5;
    --hover-color:#12f7ff;
    --bg-color:#250821;
    --secon-bg-color:#292e33;
    --big-font:2.5rem; 
     --norma-font:2rem;
    --neon-box-shadow:0 0 .5rem #12f7ff;
     --h2-font:3rem;
    --font-neon-text-shadow: 0 0 10px rgba(18,247,255,0.3),
    0 0 20px rgba(18,247,255,0.3),
    0 0 30px rgba(18,247,255,0.3),
    0 0 40px rgba(18,247,255,0.3),
    0 0 70px rgba(18,247,255,0.3),
    0 0 80px rgba(18,247,255,0.3),
    0 0 100px rgba(18,247,255,0.3),
    0 0 150px rgba(18,247,255,0.3);
}
body{
    font-family: "poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10%;
    /* position: fixed; */
}
header.sticky{
    background: var(--bg-color);
    border-bottom: 1px solid var(--secon-bg-color);
    padding: 12px 10%;
}
.logo{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}
span{
    color: var(--hover-color);
}
.navlist{
    display: flex;
}
.navlist a{
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 20px;
}
.navlist a:hover{
    color: var(--hover-color);
    text-shadow:  0 0 10px rgba(18,247,255,0.6),
    0 0 20px rgba(18,247,255,0.6),
    0 0 30px rgba(18,247,255,0.6),
    0 0 40px rgba(18,247,255,0.6),
    0 0 70px rgba(18,247,255,0.6),
    0 0 80px rgba(18,247,255,0.6),
    0 0 100px rgba(18,247,255,0.6),
    0 0 150px rgba(18,247,255,0.6);
}
.navlist a.active{
    color: var(--hover-color);
}
#menu-icon{
    font-size: 1.8rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background: var(--hover-color);
    border-radius: 3px;
    color: var(--secon-bg-color);
    display: none;
}
section{
    padding: 0px 10%;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.left-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.right-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.home-content{
    max-width: 600px;
    margin-top: 60px;
}
.home-content h1{
    font-size: 1.5rem;
    font-weight: 600;
}
.change-text{
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}
.change-text h3 .word{
    position: absolute;
    display: flex;
    opacity: 0;
}
.change-text h3 .word .letter{
    transform-origin: center center 25px;
}
.change-text h3 .word .letter.out{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6,0,0.7,0.2);
}
.change-text h3 .word .letter.in{
    transition: 0.38s ease;
}
.change-text h3 .word .letter.behind{
    transform: rotateX(-90deg);
}
.home-content p{
    color: #bdbdbd;
    line-height: 1.6;
}
.info-box{
    width: 300px;
    margin-top: 10px;
}
.info-box h5{
    font-weight: 600;
    color: var(--text-color);
    font-size: 1rem;
}
.info-box span{
    font-size: .8rem;
    color: #bdbdbd;
    font-weight: bold;
}
.social-icons{
    display: flex;
    justify-content: space-between;
    width: 220px;
    height: 40px;
    margin-top: 20px;
}
.social-icons a{
    display: inline-flex;
    width: 50px;
    height: 100%;
    margin: 0 2px;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
    transition: .6s;
    box-shadow: 0 0 0.3 #12f7ff;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.social-icons a i{
    font-size: 1.5rem;
}
.social-icons a:hover{
    color: var(--bg-color);
}
.social-icons a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: var(--hover-color);
    transition: .6s;
    z-index: -1;
}
.social-icons a:hover::before{
    width: 100%;
}
.btn-box{
    display: inline-block;
    justify-content: center;
    width: 320px;
    height: 45px;
    margin-top: 2rem;
}
.btn-box a.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: var(--hover-color);
    color: var(--bg-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid var(--hover-color);
}
a.btn:hover{
    color: var(--hover-color);
}
a.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background:var(--bg-color);
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: .4s;
}
a.btn:hover::before{
    width: 100%;
}
.img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: relative;
    -webkit-background-size:cover;
    background-position: center center;
    background-color: #12f7ff;
    height: 400px;
    width: 380px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(18,247,255,0.3),
                0 0 20px rgba(18,247,255,0.3),
                0 0 30px rgba(18,247,255,0.3),
                0 0 40px rgba(18,247,255,0.3),
                0 0 70px rgba(18,247,255,0.3),
                0 0 80px rgba(18,247,255,0.3),
                0 0 100px rgba(18,247,255,0.3),
                0 0 150px rgba(18,247,255,0.3);
    animation: animate 5s ease-in-out infinite;
    transition: all 1 ease-in-out;
}
@keyframes animate{
    0%{
        border-radius: 68% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 38% 68% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 68% 40% 30% 70%/60% 30% 70% 40%;
    }
}
.img-box img{
    width: 300px;
    height: 440px;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
}

/* service sections */

.main-text{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--hover-color);
}
.main-text h2{
    font-weight: 700;
    /* font-size: var(--normal-font); */
}
.main-text span{
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.section-services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 2rem;
}
.section-services .service-box{
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem;
    text-align: center;
    background: var(--secon-bg-color);
    transition: transform .4s;
    border-radius: 10px;
}
.service-btn{
    width: auto;
    justify-content: center;
}
.service-box:hover{
    transform: translateY(-.7rem);
}
.services-icon{
    border: 2px solid var(--hover-color);
    padding: 2rem;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    font-size: 3rem;
    border-radius: 50%;
    position: relative;
    color: var(--hover-color);
    box-shadow: var(--neon-box-shadow);
    outline: 3px solid var(--bg-color);
}
.service-box h3{
    margin-top: 10px;
    font-size: 1.5rem;
}
.service-box p{
    margin: .5rem 0 1.5rem 0;
    font-weight: 300;
    letter-spacing: 1px;
    color: #bdbdbd;
    line-height: 1.6;
}

/* skill section/////////////////////////// */

.skills{
    background: var(--secon-bg-color);
    margin-top: 50px;
}
.main-text{
    padding-top: 30px;
}
.skill-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.skill-bar{
    margin-bottom: 2.3rem;
}

.skill-main h3{
    margin-bottom: 2rem;
    font-size: var(--norma-font);
    text-align: center;
}
.skill-left .skill-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill-left .skill-bar .bar{
    width: 100%;
    height: 10px;
    background-color: var(--bg-color);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}

.skill-bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: var(--hover-color);
    border-radius: 25px;
    box-shadow: var(--neon-box-shadow);
}

.skill-bar .bar .html{
    width: 80%;
    animation: html 2s;
}

.skill-bar .bar .css{
    width: 75%;
    animation: css 3s;
}
.skill-bar .bar .javascript{
    width: 60%;
    animation: javascript 4s;
}
.skill-bar .bar .reactjs{
    width: 65%;
    animation: reactjs 5s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes reactjs{
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}

/* skilll right// */

.professional{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box{
    position: relative;
    margin: 10px 0;
    flex: 1 1 15rem;
}
.box .text{
    text-align: center;
    color: #fff;
    font-size: 1rem;
}
.box .text big{
    font: 400;
    letter-spacing: 1px;
    position: absolute;
    top: 35%;
    left: 43%;
    transform: translateY(-50%, -50%);
}
.box .text small{
    display: block;
    font-weight: 600;

}
.circle{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle .points{
    width: 2px;
    height: 10px;
    background-color: var(--bg-color);
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-45px);
}
.points.marked{
    animation: glow 0.04s linear forwards;
    animation-delay:calc(var(--i)*0.05s) ;
}
@keyframes glow{
    0%{
        background: var(--bg-color);
        box-shadow: none;
    }
    100%{
        background: var(--hover-color);
        box-shadow: var(--neon-box-shadow);
    }
}